/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: 'NanumSquare', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}



	

p {
	font-size: 15px;
	font-family: 'Noto Sans KR', sans-serif;
	color: #707070;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 40px;
}

.section-title span {
	color: #dfa667;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	margin-bottom: 12px;
}

.section-title h2 {
	font-size: 42px;
	color: #111111;
	line-height: 50px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	padding: 16px 50px;
	color: #ffffff;
	position: relative;
}

.primary-btn.normal-btn {
	color: #111111;
}

.primary-btn.normal-btn:before {
	border-color: #c4c4c4;
}

.primary-btn.normal-btn:after {
	border-color: #c4c4c4;
}

.primary-btn:before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 28px;
	width: 28px;
	border-left: 2px solid rgba(255, 255, 255, 0.2);
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	content: "";
	border-radius: 0 0 0 4px;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.primary-btn:after {
	position: absolute;
	right: 0;
	top: 0;
	height: 28px;
	width: 28px;
	border-right: 2px solid rgba(255, 255, 255, 0.2);
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	content: "";
	border-radius: 0 4px 0 0;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.primary-btn:hover:before {
	height: 100%;
	width: 100%;
	border-radius: 4px;
}

.primary-btn:hover:after {
	height: 100%;
	width: 100%;
	border-radius: 4px;
}

.site-btn {
	font-size: 16px;
	color: #ffffff;
	background: #dfa667;
	font-weight: 600;
	border: none;
	display: inline-block;
	padding: 14px 36px;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}


/*---------------------
  About
-----------------------*/

.about {
	padding-top: 120px;
	padding-bottom: 165px;
	overflow: hidden;
}

.about-page {
	padding-top: 120px;
	padding-bottom: 90px;
}

.about__text {
	padding-top: 80px;
}

.about__text.about__page__text {
	padding-top: 0;
}

.about__text.about__page__text .section-title {
	margin-bottom: 12px;
}

.about__text .section-title {
	margin-bottom: 35px;
}

.section-title>p{
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
}

.section-title>h1{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 600;
}

.about__para__text {
	margin-bottom: 70px;
}

.about__para__text p {
	margin-bottom: 26px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Noto Sans KR', sans-serif;
}

.about__para__text p:last-child {
	margin-bottom: 0;
}

.about__pic {
	padding-left: 34px;
}

.about__pic__inner {
	position: relative;
	display: inline-block;
}

.about__pic__inner>img{
	width: 700px;
	height: 470px;
	margin-top: 70px;
}

.about__pic__inner:after {
	position: absolute;
	right: 70px;
	bottom: 70px;
	height: 470px;
	width: 700px;
	border: 15px solid rgba(185, 175, 134, 0.2);
	content: "";
	z-index: -1;
}

.about__page__services__text {
	margin-bottom: 30px;
}




/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

@media only screen and (min-width: 1450px) {
	.container {
		max-width: 1170px;
	}
	.header {
		padding: 30px 130px 0;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.about__pic {
		padding-left: 0;
	}
	.about__pic__inner:after {
		left: 8px;
		top: 8px;
	}
	.header__menu ul li {
		margin-right: 25px;
	}
	.hero__slider.owl-carousel .owl-nav button {
		left: 15px;
	}
	.hero__slider.owl-carousel .owl-nav button.owl-next {
		right: 15px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.hero__slider.owl-carousel .owl-nav button {
		left: 0;
	}
	.hero__slider.owl-carousel .owl-nav button.owl-next {
		right: 0;
	}
	.about__text {
		padding-top: 0;
		margin-bottom: 40px;
	}
	.about__pic {
		padding-left: 0;
	}
	.blog__sidebar {
		padding-top: 50px;
	}
	.hero__text .hero__social {
		right: 80px;
	}
	.slide-num {
		left: 70px;
	}
	.slider__progress {
		left: 106px;
	}
	.canvas__open {
		display: block;
		font-size: 22px;
		color: #ffffff;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #ffffff;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 34px;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		width: 300px;
		height: 100%;
		background: #111111;
		padding: 50px 20px 30px 30px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvas__logo {
		margin-bottom: 30px;
	}
	.offcanvas__logo a {
		display: inline-block;
	}
	.slicknav_btn {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 30px;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #ffffff;
		font-weight: 600;
	}
	.slicknav_nav .slicknav_arrow {
		color: #ffffff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #ffffff;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #ffffff;
	}
	.slicknav_nav {
		display: block !important;
	}
	.offcanvas__widget span {
		font-size: 14px;
		font-family: "Aldrich", sans-serif;
		color: #b7b7b7;
		display: block;
		margin-bottom: 10px;
	}
	.offcanvas__widget h4 {
		font-size: 22px;
		color: #dfa667;
	}
	.header__menu {
		display: none;
	}
	.header__widget {
		display: none;
	}

	.contact1-text,
	.contact2-text,
	.contact3-text{
		padding-top: 30px;
	}


}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.hero__text h2 {
		font-size: 34px;
		line-height: 45px;
	}
	.hero__items {
		height: 710px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 0 40px;
	}
	.about__text {
		padding-top: 0;
		margin-bottom: 40px;
	}
	.about__pic {
		padding-left: 0;
	}
	.blog__sidebar {
		padding-top: 50px;
	}
	.canvas__open {
		display: block;
		font-size: 22px;
		color: #ffffff;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #ffffff;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 34px;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 98;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		width: 300px;
		height: 100%;
		background: #111111;
		padding: 50px 20px 30px 30px;
		display: block;
		z-index: 99;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvas__logo {
		margin-bottom: 30px;
	}
	.offcanvas__logo a {
		display: inline-block;
	}
	.slicknav_btn {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 30px;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #ffffff;
		font-weight: 600;
	}
	.slicknav_nav .slicknav_arrow {
		color: #ffffff;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #ffffff;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #ffffff;
	}
	.slicknav_nav {
		display: block !important;
	}
	.offcanvas__widget span {
		font-size: 14px;
		font-family: "Aldrich", sans-serif;
		color: #b7b7b7;
		display: block;
		margin-bottom: 10px;
	}
	.offcanvas__widget h4 {
		font-size: 22px;
		color: #dfa667;
	}
	.header__menu {
		display: none;
	}
	.header__widget {
		display: none;
	}
	.about__pic__inner {
		display: block;
	}
	.about__pic__inner img {
		min-width: 100%;
	}
	.about__pic__inner:after {
		left: 0;
		width: 100%;
	}
	.hero__slider.owl-carousel .owl-nav button {
		left: 0;
	}
	.hero__slider.owl-carousel .owl-nav button.owl-next {
		right: 0;
	}
	.hero__text h2 {
		font-size: 46px;
		line-height: 58px;
	}
	.hero__text .hero__social {
		right: 0;
		left: 0;
		margin: 0 auto;
		bottom: 100px;
	}
	.slide-num {
		bottom: 25px;
		left: 0;
		width: 100%;
		text-align: center;
	}
	.slider__progress {
		left: 0;
		bottom: 35px;
		right: 0;
		margin: 0 auto;
	}
	.hero__text .more_btn {
		bottom: 62px;
	}
	.footer__top__text {
		margin-bottom: 35px;
	}
	.copyright__text {
		text-align: center;
		margin-bottom: 20px;
	}
	.copyright__widget {
		text-align: center;
	}
	.project__sidebar {
		padding-top: 20px;
	}
	.blog__details__tags {
		text-align: center;
	}
	.blog__details__social {
		text-align: center;
	}
	.blog__details__author__pic {
		float: none;
		margin-right: 0;
	}
	.blog__details__author__text {
		padding-top: 40px;
	}
	.project {
		padding: 0;
	}
	.about__para__text {
		margin-bottom: 35px;
	}
	.clients {
		padding-bottom: 90px;
	}
	.clients a {
		margin-bottom: 30px;
	}
	.testimonial__carousel.owl-carousel .owl-nav button {
		left: 0;
	}
	.testimonial__carousel.owl-carousel .owl-nav button.owl-next {
		right: 0;
	}
	.copyright__widget{
		justify-content: center;
	}

	.footer__social{
		padding-top: 15px;
		justify-content: center !important;
	}

	.copyright__widget{
		margin: 0 !important;
	}

	.footer__bottom>p{
		margin: 0 !important;
	}
	.footer__bottom2>p{
		margin: 0 !important;
	}
	.footer__bottom3>p{
		margin: 0 !important;
	}
	.footer__bottom4>p{
		margin: 0 !important;
	}
	
	.contact1-text,
	.contact2-text,
	.contact3-text{
		padding-top: 30px;
	}


	

}

@media only screen and (max-width: 575px) {
	.team__btn {
		margin-bottom: 40px;
		text-align: left;
	}
	.latest__btn {
		margin-bottom: 40px;
		text-align: left;
	}
}

@media only screen and (max-width: 541px){
	.footer{
		padding-bottom: 0;
	}

	.footer__bottom{
		display: none !important;
	}
	.footer__bottom2{
		display: none !important;
	}
	.footer__bottom3{
		display: none !important;
	}
	.footer__bottom4>p{
		padding-top: 15px;
		padding-bottom: 15px;
	}
}



/* Small Device = 320px */

@media only screen and (max-width: 479px) {
	.section-title h2 {
		font-size: 28px;
		line-height: 1;
	}
	.hero__text h2 {
		font-size: 28px;
		line-height: 42px;
	}
	.hero__items {
		height: 610px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 0 40px;
	}
	.testimonial__item p {
		font-size: 16px;
		line-height: normal;
	}
	.about__pic__inner:after {
		display: none;
	}
	.callto__text h2 {
		font-size: 30px;
		line-height: 46px;
	}
	.project__slider.owl-carousel .owl-nav button {
		left: 15px;
	}
	.project__slider.owl-carousel .owl-nav button.owl-next {
		right: 15px;
	}
	.project {
		padding: 0;
	}
	.breadcrumb__text h2 {
		font-size: 32px;
	}
	.testimonial__carousel {
		padding: 60px 45px 65px;
	}
	.slick-active.slick-center .testimonial__client__pic img,
	.slick-active.slick-center .testimonial__client__pic {
		width: 110px;
		height: 110px;
		opacity: 1;
	}
	.testimonial__client__item .testimonial__client__pic {
		width: 110px;
		height: 110px;
		opacity: 0;
	}
	.testimonial__carousel:after {
		left: calc(50% - 70px);
		bottom: -80px;
		width: 140px;
		height: 140px;
	}
	.testimonial__carousel button.slick-arrow {
		left: 10px;
		height: 40px;
		width: 40px;
	}
	.testimonial__carousel button.slick-arrow.slick-next {
		left: auto;
		right: 10px;
	}
	.testimonial__client .slick-slide {
		padding-top: 30px;
	}
	.about .section-title h2 {
		font-size: 28px;
		line-height: 45px;
	}
	.footer__top__text h2 {
		font-size: 32px;
	}
	.brand{
		width: 100% !important;
	}


}





